.nav-side-menu {
    background-color: #222222;
    display: block;
    width: 170px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    float: left;
    height: auto;
    color: #e1ffff;
}

.hidden-badge-list li .hidden-badge-item{
    opacity: 0;
    transition: all ease-in-out 100ms;
}

.hidden-badge-list li:hover .hidden-badge-item{
    opacity: 1;
}

.checkbox-inline{
    width: 16.8em;
    margin-left: 10px;
}

#content{
    margin-left: 180px;
}

.nav-side-menu ul,
.nav-side-menu li.sidebar-choice {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    height: 50px;
    background-color: #222222;
}


.nav-side-menu ul .active,
.nav-side-menu li.sidebar-choice .active {
    border-left: 3px solid #d19b3d;
    background-color: #090909;
}
.nav-side-menu li.sidebar-choice {
    display: block;
    cursor: pointer;
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li.sidebar-choice a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.nav-side-menu li.sidebar-choice a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li h4{
    padding-left: 10px;
}


.nav-side-menu li.nav-divider{
    cursor: default;
    height: 0px;
    border-top: 3px solid #2e353d;
}

.nav-side-menu li.sidebar-choice:hover {
    border-left: 3px solid #d19b3d;
    background-color: #090909;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.nav-side-menu .menu-list .menu-content {
    display: block;
}

.nav-side-menu{
    overflow: hidden;
}

.nav .breadcrumb{
    padding: 0;
    margin-bottom: 0;
    padding-left: 30px;
    background: inherit;
    font-size: 17px;
}

#lobby-content{
    margin-left: 190px;
}

footer.container-fluid{
    margin-top: 20px;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    color: white;
    min-height: 80px;
}

.comment{
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.comment .info{
    float: right;
    font-size: 12px;
}