
/* 
    Created on : 21 mars 2016, 16:29:52
    Author     : boutina
*/

#list-roles li .btn,
#list-meetings li .btn{
    opacity: 0;
    transition: all ease-in-out 100ms;
}

#list-roles li:hover .btn,
#list-meetings li:hover .btn{
    opacity: 1;
}

#message-alert{
    position: fixed;
    bottom: 20px;
    z-index: 900;
    left: -100%;
    transition: all ease-in-out 200ms;
}

#message-alert.show{
    left: 0;
}