
{% extends 'base.html.twig' %}

{% block title %}
    Lobby
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/lobby.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/toolbar.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'toolbar.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <div id="lobby-content" >
        {% block content %} {% endblock %}
    </div>

    <footer class="container-fluid" >
        {% block footer %}
            <div class="row">
                <div class="col-xs-12">
                    Copyright Azarias Boutin &copy; TeaMeeting
                </div>
            </div>
        {% endblock %}
    </footer>

{% endblock %}