<div class="modal fade" id="modal-main" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-main-content" >
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->