<div class="nav-side-menu">
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="admin-choice" >
                <a href="{{ path('lobby') }}">
                    <i class="glyphicon glyphicon-home"></i>
                    Lobby
                </a>
            </li>
            <li class="admin-choice" id="see-meetings" >
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i>
                    My Projects
                </a>
            </li>
            <li class="admin-choice" id="see-meetings" >
                <a href="#">
                    <i class="glyphicon glyphicon-bell"></i>
                    My Meetings
                </a>
            </li>
            <li class="nav-divider"></li>
            <li class="admin-choice" id="see-projects" >
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> 
                    All Projects
                </a>
            </li>

            <li class="admin-choice" id="see-users" >
                <a href="#" >
                    <i class="glyphicon glyphicon-user"></i>
                    All Users
                </a>
            </li>
        </ul>
    </div>
</div>