
{% extends 'lobby-base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-11">
                {% if is_granted('ROLE_ADMIN') %}
                    <a  id="create-project"
                        class="btn btn-default" 
                        href="{{ path('newproject') }}">
                        <i class="glyphicon glyphicon-plus"></i>
                        Create a project
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}