
{% extends 'base.html.twig' %}

{% block title %}
    User profile
{% endblock %}


{% block body %}
    <h2>
        Profile of {{ user.username }}
    </h2>

    {% if user.isAdmin %}
        <p> This user is administrator</p>
    {% endif %}

    {% if roles|length %}
        <h3>The user has the following roles in the projects</h3>
        <ul>
            {% for r in roles %}
                <li> 
                    <strong>{{ r.project.projectName }}</strong> :
                    {{ r.roleName }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>The user has no project</h3>
    {% endif %}

    {% if user.projects|length %}
        <h3>The user is part of these projects</h3>
        <ul>
            {% for proj in user.projects %}
                <li>
                    {{ proj.projectName }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>The user is part of no projects</h3>
    {% endif %}

{% endblock %}
