
{% extends 'base.html.twig' %}

{% block title %}
    Project Created
{% endblock %}

{% block body %}
    The project was successfully created
    <a href="{{ path('lobby') }}">Back to the lobby</a>
{% endblock %}