
{% set formId = 'create-role-form' %}

{% extends "modalForm.html.twig" %}

{% block modalTitle %}
    Create a Role
{% endblock %}

{% block modalBody %}
    <div class="row">
        <div class="col-xs-6 {{ s.errorClass(form.student) }}">
            {{ form_row(form.student,formClass) }}
        </div>
        <div class="col-xs-6 {{ s.errorClass(form.roleName) }}">
            {{ form_row(form.roleName,formClass) }}
        </div>
    </div>
    <input id="project-id" name="project-id" type="hidden" value="" />
{% endblock %}