{# empty Twig template #}

{% set formId = 'reset-password-form' %}

{% extends "modalForm.html.twig" %}

{% block modalTitle %}
    Reset your password
{% endblock %}


{% block modalBody %}
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.oldPassword,formClass) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.newPassword.first,formClass) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.newPassword.second,formClass) }}
        </div>
    </div>
{% endblock %}

{% block buttonConfirm %}
    Change
{% endblock %}