
{% set formId = 'form-send-request' %}
{% extends "modalForm.html.twig" %}

{% block modalTitle %}
    Send a request
{% endblock %}

{% block modalBody %}
    <div class="row">
        <div class="col-xs-12 {{ s.errorClass(form.item) }}">
            {{ form_row(form.item,formClass) }}
        </div>
        <div class="col-xs-12 {{ s.errorClass(form.content) }}">
            {{ form_row(form.content,formClass) }}
        </div>
    </div>
{% endblock %}
