<ul class="list-group hidden-badge-list" >
    <li ng-repeat="request in ctrl.requests" 
        class="list-group-item"
        ng-class="{ 
            'list-group-item-danger' : request.state == 1,
            'list-group-item-success': request.state == 4,
            'list-group-item-warning': request.state == 2,
            'list-group-item-info'   : request.state == 3
        }" 
        ng-attr-id="// item.id //" >
        Proposed by // request.sender.name //   the // request.date | date : 'dd/MM/yyyy' //
        {% if canEdit %}
            <span class="pull-right hidden-badge-item">
                <a href="#" 
                   ng-click='ctrl.updateRequest($event,request.id)'
                   class="btn btn-xs btn-default">
                    <i class="glyphicon glyphicon-refresh"></i>
                    Update
                </a>
            </span>
        {% endif %}
    </li>
</ul>
<span data-href="{{ path('update-request',{ 'requestId' : '__name__' }) }}" 
      id="path-update-request" />